body {
  background-color: #FFFF0;
  font-family: Arial, sans-serif;
  color: #191970;
}
.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 4px 8px;
  text-align: center;
}
.kartu-profil img {
  with: 150px;
  border-radius: 50%;
}
